 .u-section-1 {
  background-image: url("../images/ghghghgh.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-group-1 {
  width: 712px;
  min-height: 0;
  height: auto;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px 10px 0;
}

.u-section-1 .u-text-1 {
  font-size: 6.875rem;
  line-height: 1;
  background-image: none;
  text-shadow: 4px 4px 0px rgba(107,71,72,0.4);
  text-transform: none;
  margin: 40px 0 0;
}

.u-section-1 .u-form-1 {
  height: 242px;
  width: 570px;
  margin: 30px auto 0;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  font-size: 0.875rem;
  background-image: none;
  padding-left: 15px;
  padding-right: 15px;
}

.u-section-1 .u-group-2 {
  min-height: 497px;
  height: auto;
  margin-top: 24px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-1 .u-layout-wrap-1 {
  background-image: none;
  width: 100%;
  margin: 0 auto 0 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 58px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 10px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 58px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.list-style-none {
    list-style-type: none;
}
.ul-positioning {
    margin-left: 0;
    padding-left: 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.u-btn-letter-spacing {
  letter-spacing: 1px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 58px;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.u-section-1 .u-line-1 {
  transform-origin: left center 0px;
  border-style: dotted;
  height: 1px;
  margin: 0 auto 0 20px;
}

.u-section-1 .u-layout-wrap-2 {
  background-image: none;
  width: 100%;
  margin: 0 auto 0 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 58px;
}

.u-section-1 .u-container-layout-6 {
  padding: 0 10px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 58px;
}

.u-section-1 .u-container-layout-7 {
  padding: 0;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 58px;
}

.u-section-1 .u-container-layout-8 {
  padding: 0;
}

.u-section-1 .u-btn-5 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.u-section-1 .u-icon-5 {
  width: 64px;
  height: 64px;
  margin: 0 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 73px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 73px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 73px;
  }

  .u-section-1 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 73px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 73px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 73px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-3 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1272px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-form-1 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 52px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 13px;
    width: 320px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 67px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 67px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 67px;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 67px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 67px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 67px;
  }
}